{#
/**
 * @file
 * Default theme implementation for content strategy recommendation items.
 *
 * Available variables:
 * - items: Array of recommendation items.
 * - section: The section identifier.
 * - section_config: Configuration for the section.
 * - button_text: Button text configuration.
 *
 * @ingroup themeable
 */
#}

{% for item in items %}
  {% set item_value = item[section_config.item_key] %}
  {% set item_title = item_value is iterable and item_value['#markup'] is defined ? item_value['#markup'] : (item_value is iterable ? item_value|first : item_value|default(item)) %}
  <div class="recommendation-item recommendation-priority-{{ item.priority }}" data-section="{{ section }}" data-title="{{ item_title }}">
    <div class="recommendation-content">
      <h4>{{ item_title }}</h4>
      {% if section_config.description_key and item[section_config.description_key] %}
        {% set description = item[section_config.description_key] %}
        <p>{{ description is iterable and description['#markup'] is defined ? description['#markup'] : description }}</p>
      {% endif %}
      
      {% if item.priority %}
        <span class="priority-badge {{ item.priority }}">{{ item.priority|title|t }}</span>
      {% endif %}

      {% if item.content_ideas is not empty %}
        <table class="content-ideas-table">
          <thead>
            <tr>
              <th>{{ 'Content Ideas'|t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for idea in item.content_ideas %}
              <tr>
                <td>{{ idea is iterable and idea['#markup'] is defined ? idea['#markup'] : idea }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div class="recommendation-actions">
      {% if item.content_ideas is not empty %}
        <a href="#" class="generate-more-link" data-section="{{ section }}" data-title="{{ item_title }}">
          {{ button_text.generate_more[section] }}
        </a>
      {% else %}
        <a href="#" class="generate-ideas-link button button--primary" data-section="{{ section }}" data-item="{{ item|json_encode }}">
          {{ button_text.generate[section] }}
        </a>
      {% endif %}
    </div>
  </div>
{% endfor %} 