{#
/**
 * @file
 * Template for a single content idea row.
 *
 * Available variables:
 * - section: The section identifier.
 * - uuid: The card UUID.
 * - idea_uuid: The UUID of the idea.
 * - idea_text: The idea content text.
 * - idea_implemented: Boolean indicating if the idea is implemented.
 * - idea_link: Optional URL link for the idea.
 *
 * @ingroup themeable
 */
#}
<tr data-idea-uuid="{{ idea_uuid }}"{{ idea_implemented ? ' class="idea-implemented"' : '' }}>
  <td class="idea-content-cell">
    <div contenteditable="true" data-field="content_ideas" data-idea-uuid="{{ idea_uuid }}" class="editable-field">{{ idea_text }}</div>
    <div class="idea-link-area"{{ idea_implemented ? '' : ' style="display: none;"' }}>
      {% if idea_link %}
        {% include '@ai_content_strategy/components/link-display.html.twig' with {
          'link': idea_link,
          'section': section,
          'uuid': uuid,
          'idea_uuid': idea_uuid,
        } only %}
      {% else %}
        {% include '@ai_content_strategy/components/link-add-button.html.twig' with {
          'section': section,
          'uuid': uuid,
          'idea_uuid': idea_uuid,
        } only %}
      {% endif %}
    </div>
  </td>
  <td class="idea-actions">
    <label class="idea-checkbox" title="{{ 'Mark as implemented'|t }}">
      <input type="checkbox" class="idea-implemented-checkbox" data-section="{{ section }}" data-uuid="{{ uuid }}" data-idea-uuid="{{ idea_uuid }}"{{ idea_implemented ? ' checked' : '' }}>
      <span class="idea-checkbox-visual"></span>
    </label>
    <button type="button" class="delete-idea-link" data-section="{{ section }}" data-uuid="{{ uuid }}" data-idea-uuid="{{ idea_uuid }}" title="{{ 'Delete this content idea'|t }}" aria-label="{{ 'Delete content idea'|t }}">
      <span class="cs-icon cs-icon--trash cs-icon--md" aria-hidden="true"></span>
    </button>
  </td>
</tr>
