{#
/**
 * @file
 * Template for displaying a saved link with edit button.
 *
 * Available variables:
 * - link: The URL of the link.
 * - section: The section identifier.
 * - title: The card title.
 * - idea_index: The index of the idea within the card.
 *
 * @ingroup themeable
 */
#}
<a href="{{ link }}" target="_blank" class="idea-link" data-section="{{ section }}" data-title="{{ title }}" data-idea-index="{{ idea_index }}">{{ link }}</a>
<button type="button" class="idea-link-edit" data-section="{{ section }}" data-title="{{ title }}" data-idea-index="{{ idea_index }}" title="{{ 'Edit link'|t }}">
  <span class="cs-icon cs-icon--edit cs-icon--sm" aria-hidden="true"></span>
</button>
